<h1>Edit Newsletter</h1>

<%= render 'form' %>

<%= link_to 'Back', newsletters_path %>
<% if @newsletter.lyra_id  %>
  <%= link_to 'Preview Lyra version', preview_lyra_newsletter_path(@newsletter) %>
  <%= link_to 'Delete Lyra version', delete_lyra_newsletter_path(@newsletter), method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
