<h1>Admin</h1>

<section>
  <ul>
    <li>
      <%= link_to 'Stories', controller: 'stories' %>
    </li>
    <li>
      <%= link_to 'Newsletters', controller: 'newsletters' %>
    </li>
  </ul>
</section>



